* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(4, 45, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.counter-container i {
  font-size: 36px;
  color: #ff7f50;
  margin-bottom: 10px;
}

.counter-container .counter {
  font-size: 48px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}

.counter-container span {
  font-size: 16px;
  color: #888888;
}

/* Animation */
@keyframes countUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.counter.animated {
  animation: countUp 1s ease-in-out;
  animation-fill-mode: both;
}
